USE [master]
GO
/****** Object:  Database [QLBenhVien]    Script Date: 29/11/2022 11:00:32 SA ******/
CREATE DATABASE [QLBenhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBenhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLBenhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBenhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLBenhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBenhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBenhVien]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 29/11/2022 11:00:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[MaBN] [nchar](10) NOT NULL,
	[HoTen] [nchar](10) NULL,
	[NgaySinh] [nchar](10) NULL,
	[GioiTinh] [bit] NULL,
	[SoNgayNV] [datetime] NULL,
	[MaKhoa] [nchar](10) NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhVien]    Script Date: 29/11/2022 11:00:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhVien](
	[MaBV] [nchar](10) NOT NULL,
	[TenBV] [nchar](10) NULL,
 CONSTRAINT [PK_BenhVien] PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaKham]    Script Date: 29/11/2022 11:00:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaKham](
	[MaKhoa] [nchar](10) NOT NULL,
	[TenKhoa] [nchar](10) NULL,
	[SoBenhNhan] [nchar](10) NULL,
	[MaBV] [nchar](10) NULL,
 CONSTRAINT [PK_KhoaKham] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
